.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 48px);
    padding: 10px 24px 93px;
    background: var(--primary-light-1);
}

@media screen and (max-width: 834px) {
}
