.statuses {
    border-radius: 2px;
    padding: 64px 32px;
    width: 539px;
    height: 363px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    display: flex;
    align-items: center;
    justify-content: center;
}

.statuses :global(.ant-result) {
    padding: var(--padding-zero);
    width: 368px;
    font-family: var(--font-family);
    color: var(--character-light-title-85);
}

.statuses :global(.ant-result-title) {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: var(--line-height-main);
    font-family: var(--font-family);
}

.statuses :global(.ant-result-icon) {
    margin-bottom: var(--margin-middle-size);
}

.statuses :global(.ant-result-subtitle) {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: var(--character-light-secondary-45);
}

.statuses :global(.ant-result-extra) > button > span {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
}
.statuses :global(.ant-btn-primary) {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--primary-light-6);
    border: 1px solid var(--primary-light-6);
    border-radius: 2px;
}

@media screen and (max-width: 550px) {
    .statuses {
        width: 328px;
        height: 317px;
        padding: 64px 10px;
    }
    .statuses :global(.ant-result) {
        width: 296px;
    }
    .statuses :global(.ant-result-icon) {
        margin-bottom: var(--margin-middle-size);
    }
}
