.drawer :global(.ant-drawer-content) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    font-size: 14px;
    font-family: var(--main-font-family);
    line-height: 130%;
}

.badge {
    display: block;
    width: 50%;
    flex-grow: 1;
}
.badge :global(.ant-badge-status-text) {
    color: var(--character-light-secondary-45);
}

.date {
    text-align: right;
    color: var(--character-light-secondary-45);
}

@media screen and (max-width: 480px) {
    .drawer:global(.ant-drawer) {
        top: 85px;
    }
    .drawer :global(.ant-drawer-mask) {
        background: transparent;
    }
    .drawer :global(.ant-drawer-content) {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 0%;
    }
}
