.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-extra-small);
}

.form > div {
    width: 100%;
    font-family: var(--main-font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
}

div.password-wrapper.antFixed {
    margin-bottom: 48px;
}

.input.antFixed,
.wrapper__email :global(span.ant-input-group-addon) {
    color: var(--character-light-title-85);
}

.input :global(span.ant-input-group-addon) {
    border-right: none;
    background: var(--character-light-table-header);
}

:global(#loginForm_password_help > div) {
    font-size: var(--font-size-mobile);
    text-align: start;
    color: var(--character-light-secondary-45);
}

:global(#loginForm_userEmail.ant-input-status-error) {
    border-left-color: var(--character-light-border);
    box-shadow: none;
}
:global(#loginForm_userEmail.ant-input-status-success) {
    box-shadow: none;
    border-color: var(--character-light-border);
}

:global(#loginForm_password_help > div.ant-form-item-explain-error) {
    font-size: var(--font-size-mobile);
    color: var(--character-light-error);
}

div.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.checkbox-text {
    color: rgba(0, 0, 0, 0.85);
}

:global(.ant-btn.ant-btn-text).forgot-link {
    font-size: var(--font-size-title);
    padding: var(--padding-zero);
    text-align: center;
}
:global(.ant-btn:not(:disabled).ant-btn-text).forgot-link {
    color: var(--primary-light-6);
}

.submit-block.antFixed {
    margin-bottom: 8px;
}

.submit-button.antFixed {
    font-size: var(--font-size-title);
    color: var(--character-light-primary-inverse);
}

.google-button.antFixed {
    font-size: var(--font-size-title);
    color: var(--character-light-title-85);
}

@media screen and (max-width: 360px) {
    .submit-button.antFixed {
        font-size: var(--font-size-main);
    }

    .google-button.antFixed {
        font-size: var(--font-size-main);
    }
    .google-icon.antFixed {
        display: none;
    }
    .form:global(.ant-form) {
        margin-top: 9px;
    }
    div.checkbox-wrapper {
        font-size: var(--font-size-main);
        margin-bottom: 15px;
    }
    .forgot-link {
        font-size: var(--font-size-main);
        margin-right: 8px;
    }
    div.password-wrapper.antFixed {
        margin-bottom: 45px;
    }
}
