.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: transparent;
    padding: 0;
    gap: var(--gap-extra-small);
}

.title {
    width: 100%;
    text-align: center;
    font-family: var(--main-font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: var(--character-light-secondary-45);
}
