.reviews {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews > button {
    display: inline-block;
    width: 100%;
    margin: 4px 10px 0px 10px;
    padding: 0;
}

.reviews > button > span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
}

@media screen and (max-width: 834px) {
    .reviews {
        margin-left: 1.4rem;
    }
    .reviews.collapsed {
        margin-bottom: 3px;
    }
}
@media screen and (max-width: 400px) {
    .reviews {
        margin: 7px 10px 0px 10px;
    }
}
