.wrapper {
    backdrop-filter: blur(3px);
    background: rgba(121, 156, 212, 0.5);
}

@media screen and (max-width: var(--TABLET_TO_MOBILE_POINT4)) {
    .wrapper :global(.ant-modal) {
        max-width: 328px;
    }
}
