.exercise {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.highlighter {
    display: block;
}

.name {
    width: 80%;
    text-align: left;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
}

.highlighter {
    width: 15%;
    text-align: right;
    transition: all ease-in 0.3s;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.highlighter:hover,
.highlighter:target,
.highlighter:focus {
    transform: scale(1.03);
    color: rgb(121, 121, 248);
    cursor: pointer;
}
