.about {
    margin-top: 2.5rem;
    width: 63.5%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    background: var(--character-light-primary-inverse);
    border-radius: 2px;
    padding: 2.3rem 4.6rem 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about.collapsed {
    width: 56.5%;
}

.about .line {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: var(--primary-light-9);
    display: inline-block;
    text-align: left;
}

.space {
    white-space: nowrap;
}

@media screen and (max-width: var(--FULL_TO_TABLET_POINT2)) {
    .about {
        width: 96%;
    }
}

@media screen and (max-width: var(--TABLET_WIDTH)) {
    .about {
        padding-right: 2rem;
        padding-left: 2.2rem;
        margin-left: 1.2rem;
    }
    .about.collapsed {
        width: 97%;
    }
}

@media screen and (max-width: var(--TABLET_TO_MOBILE_POINT5)) {
    .about.collapsed,
    .about {
        width: 94%;
        padding: 1.5rem 0 2rem 1.4rem;
    }
    .about.collapsed > span:not(:last-child),
    .about > span:not(:last-child) {
        padding-right: 3.7rem;
    }
    .about.collapsed > span:last-child,
    .about > span:last-child {
        padding-right: 1.5rem;
    }
}
