.logo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 4.6rem;
    margin-bottom: 6.5rem;
    flex-grow: 0;
    margin-left: -15px;
}

.logo.collapsed {
    margin-left: 0px;
}

.logo__menu .ant-menu-item-icon {
    display: inline-block;
    order: -1;
}
.logo__menu .ant-menu-title-content {
    display: inline-block;
    order: 1;
}

.collapsed {
    width: 64px;
}

.hidden,
.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .logo__text,
    .logo__icon {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        padding-top: 1.3rem;
        margin-left: 0;
        margin-bottom: 2.8rem;
    }
}
