.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    width: 100%;
}

.description {
    width: 60%;
    font-family: var(--main-font-family);
    font-size: var(--font-size-main);
    color: var(--character-light-title-85);
    line-height: 130%;
    font-weight: var(--font-weight-medium);
}

.sign {
    width: 10%;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
