.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    gap: 1.6rem;
    font-size: 1.6rem;
    flex-grow: 1;
}

.menu__item_text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.hidden {
    font-size: 0;
}

.collapsed {
    width: 64px;
    margin-left: 0;
}
