.feedback {
    padding: var(--padding-little-size);
    gap: var(--gap-little);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    border-radius: 2px;
    box-shadow: var(--modal-box-shadow);
    background: var(--character-light-primary-inverse);
}

.user {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 13%;
    gap: var(--gap-little);
}

.avatar {
    border-radius: 50%;
    background: var(--character-light-background);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar :global(.anticon) {
    display: inline-block;
}

.name {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-title);
    line-height: var(--line-height-main);
    white-space: pre-wrap;
    color: var(--character-light-title-85);
}

.description {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-little);
    width: 85%;
}

.title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: var(--gap-medium);
}

.date {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: var(--character-light-disable-25);
}

.comment {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    text-align: start;
    color: var(--character-light-secondary-45);
    word-break: break-all;
}

@media screen and (max-width: 1100px) {
    .user {
        width: 30%;
    }
    .description {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .feedback {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .user {
        flex-direction: row;
        width: 95%;
        align-items: center;
        justify-content: flex-start;
        gap: var(--gap-medium);
    }
    .name {
        width: 30%;
        text-align: left;
    }
    .description {
        width: 97%;
        text-align: left;
    }
}
