.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: var(--gap-small);
    flex: 1;
}

:global(button.ant-drawer-close) {
    display: none;
}

.title {
    font-size: var(--font-size-title);
    font-family: var(--main-font-family);
    line-height: var(--line-height-main);
    flex-grow: 1;
}

.close {
    text-align: end;
    transition: all ease-in 0.3s;
    margin-right: var(--margin-small-size);
}
.close:hover,
.close:target,
.close:focus {
    cursor: pointer;
    transform: scale(1.03);
    color: rgb(127, 127, 128);
}
