.feedbacks-list {
    margin-top: 20px;
    min-height: 572px;
    max-height: 720px;
    overflow-y: auto;
    width: 99.5%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.feedbacks-list {
    scrollbar-width: 0;
    scrollbar-color: transparent;
}
.feedbacks-list::-webkit-scrollbar {
    display: none;
    margin-left: 2px;
}
.feedbacks-list::-webkit-scrollbar-thumb {
    display: none;
}

@media screen and (max-width: 680px) {
    .feedbacks-list {
        margin-top: 24px;
        max-height: 770px;
    }
}
