.wrapper {
    padding: var(--padding-modal-error-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-medium);
}

.content {
    width: 85%;
}

.status {
    margin-top: var(--margin-small-size);
}
.title {
    width: 97%;
    margin-top: var(--margin-small-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-title);
    line-height: var(--line-height-main);
    text-align: start;
    color: var(--character-light-title-85);
    margin-bottom: 8px;
}

.subtitle {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    text-align: start;
    color: var(--character-light-primary-85);
    margin-bottom: var(--margin-little-size);
}

.button {
    align-self: flex-end;
}

.button > button {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    border-radius: 2px;
}
.button :global(.ant-btn-primary) {
    background: var(--primary-light-6);
    border-color: var(--primary-light-6);
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
}
