.wrapper {
    width: 82%;
    margin-top: var(--margin-medium-size);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: var(--margin-medium-size);
}

@media screen and (max-width: 1150px) {
    .wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .wrapper {
        width: 100%;
        flex-wrap: wrap;
        gap: var(--gap-medium);
    }
}

@media screen and (max-width: 834px) {
    .wrapper {
        width: 80%;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: var(--gap-medium);
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        margin-top: var(--margin-little-size);
        margin-bottom: var(--margin-little-size);
        width: 80%;
        flex-direction: column;
        align-items: first baseline;
        justify-content: flex-start;
        gap: var(--gap-medium);
    }
}
