.download {
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
    background: var(--character-light-primary-inverse);
    border-radius: 2px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.2rem 1rem 1.2rem 2.2rem;
    font-family: var(--font-family);
    font-weight: 400;
    line-height: 130%;
    gap: 10px;
}

.title {
    font-size: 1.6rem;
    color: var(--primary-light-6);
}
.text {
    font-size: 14px;
    color: var(--character-light-secondary-45);
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    margin-bottom: 17px;
}
.button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
}

.button:not(:last-child) {
    margin-right: 12px;
}
.button > button {
    padding: 7px 11px;
    display: inline-block;
    border: none;
}
