.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.form > div {
    width: 100%;
    font-family: var(--main-font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    margin-bottom: 24px;
}

.form > div:not(:first-child) {
    margin-bottom: 47px;
}

.input.antFixed,
.wrapper__email :global(span.ant-input-group-addon) {
    color: var(--character-light-title-85);
}

.input.antFixed,
span.input input {
    padding-top: 8px;
    padding-bottom: 8px;
}

.input :global(span.ant-input-group-addon) {
    border-right: none;
    background: var(--character-light-table-header);
}
.confirm-field.antFixed {
    margin-bottom: 62px;
}

:global(#registrationForm_password_help > div),
:global(#registrationForm_confirmPassword_help > div) {
    font-size: var(--font-size-mobile);
    text-align: start;
    color: var(--character-light-secondary-45);
}

:global(#registrationForm_userEmail.ant-input-status-error) {
    border-left-color: var(--character-light-border);
    box-shadow: none;
}
:global(#registrationForm_userEmail.ant-input-status-success) {
    box-shadow: none;
    border-color: var(--character-light-border);
}

:global(#registrationForm_password_help > div.ant-form-item-explain-error),
:global(#registrationForm_confirmPassword_help > div.ant-form-item-explain-error) {
    font-size: var(--font-size-mobile);
    color: var(--character-light-error);
}

.submit-block.antFixed {
    margin-bottom: 16px;
    font-size: var(--font-size-title);
    color: var(--character-light-primary-inverse);
}

.google-button.antFixed {
    font-size: var(--font-size-title);
    color: var(--character-light-title-85);
}

@media screen and (max-width: 834px) {
    div.confirm-field.antFixed {
        margin-bottom: 6rem;
    }

    div.submit-block.antFixed {
        margin-bottom: 1.8rem;
    }
}

@media screen and (max-width: 360px) {
    .confirm-field.antFixed {
        margin-bottom: 5rem;
    }
    .google-icon.antFixed {
        display: none;
    }
    .submit-block.antFixed,
    .google-button.antFixed {
        font-size: var(--font-size-main);
    }
    .submit-block.antFixed {
        margin-bottom: 13px;
    }
    .form > div:not(:first-child) {
        margin-bottom: 25px;
    }
}
