.results-page {
    background: center / cover url('/images/enterPageBG.png') no-repeat;
    min-height: 1024px;
    width: 100%;
    max-width: 1440px;
}

.blur-background {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    width: 100%;
    height: 100%;
    min-height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 833px) {
    .blur-background,
    .results-page {
        min-height: 1194px;
    }
}

@media screen and (max-width: 360px) {
    .blur-background,
    .results-page {
        min-height: 800px;
    }
}
