.drawer :global(.ant-drawer-content) {
    border-top-left-radius: var(----border-radius-middle);
    border-bottom-left-radius: var(--border-radius-middle);
}

.drawer :global(.ant-drawer-body) {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    font-size: var(--font-size-main);
    font-family: var(--main-font-family);
    line-height: var(--line-height-main);
}

.badge {
    display: block;
    width: 50%;
    flex-grow: 1;
}
.badge :global(.ant-badge-status-text) {
    color: var(--character-light-secondary-45);
}

.date {
    text-align: right;
    color: var(--character-light-secondary-45);
}

@media screen and (max-width: 480px) {
    .drawer:global(.ant-drawer) {
        top: 85px;
    }
    .drawer :global(.ant-drawer-mask) {
        background: transparent;
    }
    .drawer :global(.ant-drawer-content) {
        border-top-left-radius: var(--border-radius-big);
        border-top-right-radius: var(--border-radius-big);
        border-bottom-left-radius: var(--border-radius-zero);
    }
}
