.chart {
    border: 1px solid var(--character-light-dividers);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--margin-medium-size);
}

@media screen and (max-width: 600px) {
    .chart {
        align-self: center;
    }
}
