.header {
    min-height: 168px;
    padding: 0;
    margin: 0;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1.4rem;
}

.navigation {
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.greeting {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
}

.greeting.collapsed {
    justify-content: space-between;
}

.greeting__text {
    padding-top: 1.4rem;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 130%;
    color: var(--character-light-title-85);
    text-align: start;
    width: 89%;
}

.greeting__text.collapsed {
    width: 80%;
}

.greeting__settings {
    margin-top: 6px;
    margin-left: 5px;
    height: 32px;
    padding: 0;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

button.settings__button {
    border: none;
}

.xlWidth,
.xlWidth.collapsed {
    display: none;
}

@media screen and (max-width: 1290px) {
    .greeting__text {
        font-size: 2.8rem;
        width: 85%;
    }
    .settings__button > span[role='img'] {
        display: none;
    }
}

@media screen and (max-width: 834px) {
    .greeting__text {
        font-size: 3rem;
        padding-top: 1.1rem;
        width: 80%;
        font-weight: 500;
        font-size: 2.4rem;
        padding-bottom: 2rem;
    }
    .greeting,
    .navigation {
        margin-left: 1rem;
    }
    .xlWidth {
        display: inline;
    }
    .greeting__settings {
        margin-left: 0;
    }
    .greeting__settings.collapsed {
        margin-left: 2rem;
    }

    .button__text {
        margin-left: 0 !important;
    }
    button.settings__button {
        padding-left: 2px;
        padding-right: 2px;
    }
}
