.header {
    min-height: 168px;
    padding: 0;
    margin: 0;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1.4rem;
}

.navigation {
    display: inline-block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    color: var(--character-light-title-85);
}

.greeting {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
}

.greeting.collapsed {
    justify-content: space-between;
}

.greeting__text {
    padding-top: 1.4rem;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: var(--character-light-title-85);
    text-align: start;
    width: 89%;
}

.greeting__text.collapsed {
    width: 80%;
}

.greeting__settings {
    margin-top: 6px;
    margin-left: 5px;
    height: 32px;
    padding: 0;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings__button {
    width: 100%;
    display: inline-block;
    padding: 0;
    border: none;
}
