.content {
    width: 100%;
    height: 100%;
    padding: var(--padding-medium-size);
}

.profile {
    width: 100%;
    min-height: 886px;
    background-color: var(--neutral-gray-1, #fff);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    border-radius: var(--border-radius-small);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
