#root {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.main-page {
    min-height: 1024px;
    background: center / cover url(/images/mainBG.png) no-repeat;
    width: 100%;
}

.navigation {
    width: 14.4%;
}
