.sidebar {
    min-height: 1024px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

@media screen and (max-width: 834px) {
    .sidebar {
        min-height: 1194px;
    }
    .sidebar.profile,
    .sidebar.settings {
        min-height: 1000px;
    }
}

@media screen and (max-width: 680px) {
    .sidebar {
        min-height: 1300px;
    }
    .sidebar.profile,
    .sidebar.settings {
        min-height: 1000px;
    }
}
@media screen and (max-width: 500px) {
    .sidebar {
        min-height: 100vh;
    }
    .sidebar.calendar {
        min-height: 100vh;
    }
    .sidebar.profile,
    .sidebar.settings {
        min-height: 100vh;
    }
}
