.logo {
    margin-top: 6.4rem;
    margin-bottom: 4.8rem;
}

.logo > img {
    display: inline-block;
    width: 309px;
    height: 76px;
}

.buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.2rem;
}

.buttons button {
    font-family: var(--main-font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-title);
    line-height: var(--line-height-main);
    color: var(--character-light-title-85);
    width: 50%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--character-light-dividers);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--padding-little-size);
    padding-bottom: var(--padding-little-size);
    height: 46px;
}
button > span {
    display: inline-block;
}

.buttons button.active {
    color: var(--primary-light-6);
    border-bottom: 2px solid var(--primary-light-6);
}

@media screen and (max-width: 590px) {
    .logo > img {
        width: 203px;
        height: 50px;
    }
}

@media screen and (max-width: 360px) {
    .logo {
        margin-top: var(--margin-middle-size);
        margin-bottom: var(--margin-middle-size);
    }
    .buttons button {
        font-size: var(--font-size-main);
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .buttons {
        margin-bottom: 1.5rem;
    }
}
