.footer__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (max-width: var(--TABLET_TO_MOBILE_POINT2)) {
    .footer__wrapper {
        flex-direction: column-reverse;
        gap: 16px;
        justify-content: center;
        align-items: stretch;
    }
}
