.wrapper {
    width: 91%;
}

.title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: var(--font-size-title);
    line-height: var(--line-height-main);
    color: var(--character-light-title-85);
}

.close {
    padding: 4px;
    border-radius: 5px;
    transition: transform ease-in 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close:hover,
.close:target,
.close:focus {
    cursor: pointer;
    color: rgb(51, 50, 50);
    transform: scale(1.03);
    background-color: rgba(151, 151, 151, 0.8);
}

.header .wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-small-top-bottom-frames);
}

form.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.rating,
.rating.antFixed {
    padding-left: var(--padding-medium-size);
    padding-right: var(--padding-medium-size);
    align-self: flex-start;
    margin-top: var(--padding-medium-size);
    margin-bottom: var(--padding-little-size);
}

:global(#ratingForm_comment::placeholder) {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: var(--character-light-disable-25);
}

:global(#ratingForm_rating .ant-rate-star.ant-rate-star-zero .ant-rate-star-second) {
    color: #d89614;
}

.comment,
.comment.antFixed {
    padding-left: var(--padding-medium-size);
    padding-right: var(--padding-medium-size);
    width: 100%;
}

.button,
.button.antFixed {
    padding-left: var(--padding-medium-size);
    padding-right: var(--padding-medium-size);
    align-self: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button button,
.button.antFixed button {
    box-shadow: var(--card-main-page-box-shadow);
    border-radius: 2px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
}
