.changeForm {
    border-radius: 2px;
    width: 539px;
    height: 419px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-family: var(--font-family);
    margin: var(--margin-zero);
    font-weight: 500;
    font-size: 2.4rem;
    line-height: var(--line-height-main);
    text-align: center;
    color: var(--character-light-title-85);
    margin-bottom: var(--margin-middle-size);
}

.formPassReset {
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-big);
}

:global(#setNewPassForm_password_help),
:global(#setNewPassForm_confirmPassword_help) {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-mobile);
    line-height: var(--line-height-main);
    color: var(--character-light-secondary-45);
    text-align: start;
}

:global(.ant-form-item).antFixed {
    margin-bottom: var(--margin-zero);
    width: 100%;
}

.submit-button.antFixed {
    margin-top: 14px;
}

@media screen and (max-width: 550px) {
    .changeForm {
        width: 328px;
        height: 386px;
        margin: auto;
    }
    .formPassReset {
        width: 296px;
    }
    .title {
        width: 90%;
        text-align: center;
    }
}
