.overlay {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header {
    padding: var(--padding-popup-card);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-little);
}

.name {
    font-family: var(--main-font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
}

.exercises__list {
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-extra-small);
    width: 100%;
    padding-left: var(--padding-card-main);
    height: 115px;
    overflow-y: auto;
}

.exercises__list::-webkit-scrollbar {
    width: 2px;
}

.exercises__list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.exercises__list::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.exercises__list {
    scrollbar-width: thin;
    scrollbar-color: #888 #b4b4b4;
}

.exercises__list::-moz-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.exercises__list::-moz-scrollbar-thumb:hover {
    background-color: #555;
}

.exercises__list::-moz-scrollbar-track {
    background-color: #b4b4b4;
}

button.button:global(.ant-btn) {
    margin-bottom: var(--margin-little-size);
    width: calc(100% - var(--margin-little-size) * 2);
    font-family: var(--main-font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
}
