.trainings__page {
    width: 100%;
    height: 100%;
}

.trainings {
    padding: var(--padding-medium-size);
    margin: var(--margin-trainings-page-main);
    min-height: 862px;
    background-color: var(--neutral-gray-1, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: calc(100% - 2 * var(--margin-medium-size));
    height: calc(100% - var(--margin-medium-size) - var(--margin-extra-size));
}

@media screen and (max-width: 550px) {
    .trainings {
        margin: 0;
        padding: var(--padding-small-size);
        width: 100%;
        border-radius: 0;
        margin-top: var(--margin-medium-size);
        margin-bottom: var(--margin-extra-size);
        min-height: 492px;
    }
}
