.trainings {
    margin: var(--padding-not-found-page-main);
    min-height: 888px;
    background-color: var(--neutral-gray-1, #fff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

@media screen and (max-width: 400px) {
    .trainings {
        margin: 0;
        margin-top: var(--margin-medium-size);
        margin-bottom: var(--margin-extra-size);
    }
}
