@import './utils/fonts/font.css';

:root {
    font-family: Inter, Verdana, Arial, sans-serif;
    line-height: 1.5;
    font-weight: normal;
    font-size: 10px;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

html,
* {
    box-sizing: border-box;
}
