@import './utils/fonts/font.css';

body {
    /* media query sizes */

    --FULL_TO_TABLET_POINT1: 1290px;
    --FULL_TO_TABLET_POINT2: 1100px;
    --TABLET_WIDTH: 834px;
    --TABLET_TO_MOBILE_POINT1: 780px;
    --TABLET_TO_MOBILE_POINT2: 750px;
    --TABLET_TO_MOBILE_POINT3: 550px;
    --TABLET_TO_MOBILE_POINT4: 500px;
    --TABLET_TO_MOBILE_POINT5: 400px;
    --MOBILE_WIDTH: 360px;
}

:root {
    font-family: Inter, Verdana, Arial, sans-serif;

    --main-font-family: Inter, Verdana, Arial, sans-serif;

    line-height: 1.5;
    font-weight: normal;
    font-size: 10px;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;

    /* variables from design */

    /* characters color light scheme */
    --character-light-title-85: #262626;
    --character-light-primary-85: #262626;
    --character-light-secondary-45: #8c8c8c;
    --character-light-disable-25: #bfbfbf;
    --character-light-border: #d9d9d9;
    --character-light-dividers: #f0f0f0;
    --character-light-background: #f5f5f5;
    --character-light-table-header: #fafafa;
    --character-light-error: #ff4d4f;
    --character-light-warning: #faad14;
    --character-light-link: #1890ff;
    --character-light-success: #52c41a;
    --character-light-red-4: #ff7875;
    --character-light-primary-inverse: #fff;
    --character-light-sider-background: #fff;

    /* colors light scheme */

    --primary-light-1: #f0f5ff;
    --primary-light-2: #d6e4ff;
    --primary-light-3: #adc6ff;
    --primary-light-4: #85a5ff;
    --primary-light-5: #597ef7;
    --primary-light-6: #2f54eb;
    --primary-light-7: #1d39c4;
    --primary-light-8: #10239e;
    --primary-light-9: #061178;
    --primary-light-10: #030852;
    --blue-light-1: #e6f7ff;
    --blue-light-2: #bae7ff;
    --blue-light-3: #91d5ff;
    --blue-light-4: #69c0ff;
    --blue-light-5: #40a9ff;
    --blue-light-6: #1890ff;
    --blue-light-7: #096dd9;
    --blue-light-8: #0050b3;
    --blue-light-9: #003a8c;
    --blue-light-10: #002766;

    /* dark colors */

    --neutral-gray-1: #fff;
    --neutral-gray-2: #fafafa;
    --neutral-gray-3: #f5f5f5;
    --neutral-gray-4: #f0f0f0;
    --neutral-gray-5: #d9d9d9;
    --neutral-gray-6: #bfbfbf;
    --neutral-gray-7: #8c8c8c;
    --neutral-gray-8: #595959;
    --neutral-gray-9: #434343;
    --neutral-gray-10: #262626;
    --neutral-gray-11: #1f1f1f;
    --neutral-gray-12: #141414;
    --neutral-gray-13: #000;
    --primary-dark-1: #131629;
    --primary-dark-2: #161d40;
    --primary-dark-3: #1c2755;
    --primary-dark-4: #203175;
    --primary-dark-5: #263ea0;
    --primary-dark-6: #2b4acb;
    --primary-dark-7: #5273e0;
    --primary-dark-8: #7f9ef3;
    --primary-dark-9: #a8c1f8;
    --primary-dark-10: #d2e0fa;
    --blue-dark-1: #111d2c;
    --blue-dark-2: #112a45;
    --blue-dark-3: #15395b;
    --blue-dark-4: #164c7e;
    --blue-dark-5: #1765ad;
    --blue-dark-6: #177ddc;
    --blue-dark-7: #3c9ae8;
    --blue-dark-8: #65b7f3;
    --blue-dark-9: #8dcff8;
    --blue-dark-10: #b7e3fa;

    /* characters color dark */

    --character-dark-title-85: #dbdbdb;
    --character-dark-primary-85: #dbdbdb;
    --character-dark-secondary-45: #7c7c7c;
    --character-dark-disable-25: #5a5a5a;
    --character-dark-border: #434343;
    --character-dark-dividers: #303030;
    --character-dark-background: #262626;
    --character-dark-table-header: #1c1c1c;
    --character-dark-error: #a61d24;
    --character-dark-warning: #d89614;
    --character-dark-success: #49aa19;
    --character-dark-link: #177ddc;
    --character-dark-red-4: #791a1f;
    --character-dark-sider-background: #111d2c;

    /* fonts styling */

    --main-font-family: 'Inter', Verdana, sans-serif;
    --font-size-main: 1.4rem;
    --button-font-size: 1.4rem;
    --line-height-main: 130%;
    --font-style-main: normal;
    --font-style-title: bold;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-title: 600;
    --font-weight-message: 700;
    --font-weight-title-result: 500;
    --font-size-title: 1.6rem;
    --font-size-big-title: 2rem;
    --font-size-mobile: 1.2rem;
    --font-size-title-result-main: 2.4rem;
    --font-size-tabs-trainings-main: 2.4rem;
    --second-family: 'Roboto', Verdana, sans-serif;
    --header-line-height: 22px;
    --main-line-height: 130%;

    /* margins and paddings */

    --padding-drawer-calendar-main: 3px 0 3px 8px;
    --padding-zero: 0;
    --padding-alert-cancel-calendar: 9px 16px;
    --padding-modal-calendar: 0 12px;
    --padding-big-top-bottom-frames: 64px 0;
    --padding-middle-top-bottom-frames: 32px 0;
    --padding-small-top-bottom-frames: 16px 0;
    --padding-popup-card: 16px 12px;
    --padding-popup-message-card: 12px 16px;
    --padding-messages-group-desktop: 16px 24px;
    --padding-messages-group-mobile: 16px 24px;
    --padding-modal-error-main: 32px 32px 24px;
    --padding-error-get-trains-main: 24px 16px;
    --padding-card-modal-partner-desktop: 30px 16px;
    --label--padding: 4px 8px;
    --padding-small-size: 8px;
    --padding-card-main: 12px;
    --padding-little-size: 16px;
    --padding-medium-size: 24px;
    --padding-middle-size: 32px;
    --padding-settings-big-size: 40px;
    --padding-big-size: 64px;
    --padding-calendar-page-main: 10px 24px 93px;
    --padding-calendar-page-tablet: 12px 24px 271px;
    --padding-trainings-page-desktop: 19px 24px 23px;
    --padding-calendar-page-mobile: 24px 24px 42px;
    --padding-not-found-page-main: 24px 24px 42px;
    --padding-message-card-desktop: 20px 20px 20px 12px;
    --margin-zero: 0;
    --margin-small-size: 8px;
    --margin-small-additional-size: 12px;
    --margin-little-size: 16px;
    --margin-medium-size: 24px;
    --margin-middle-size: 32px;
    --margin-extra-size: 42px;
    --margin-submit-profile-main: 54px;
    --margin-trainings-page-main: 24px 24px 42px;
    --margin-big-size: 64px;
    --margin-pagination-table-desktop: 20px 0 0 0;

    /* gaps */

    --gap-extra-small: 8px;
    --gap-small: 10px;
    --gap-little: 12px;
    --gap-medium: 16px;
    --gap-middle: 20px;
    --gap-cards: 25px;
    --gap-main: 32px;
    --gap-big: 46px;

    /* borders */

    --border-radius-middle: 10px;
    --border-radius-big: 15px;
    --border-radius-small: 8px;
    --border-radius-zero: 0%;
    --border-message-card-desktop: 2px 16px 16px 16px;

    /* box-shadows */

    --modal-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    --card-main-page-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    --trainings-buttons-shadow: 0px 1px 0px 0px #f0f0f0 inset;

    /* sizes */
    --table-trainings-desktop-width: 555px;
    --table-trainings-tablet-width: 530px;
}

html,
* {
    box-sizing: border-box;
    padding-left: 0;
    list-style-type: none;
    border: none;
    outline: none;
}

img {
    overflow: visible;
}
