.result {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--character-light-primary-inverse);
}

.success :global(.ant-result-title) {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2.4rem;
    line-height: var(--line-height-main);
    color: var(--character-light-title-85);
}
.success:global(.ant-result) {
    padding-top: var(--padding-big-size);
    padding-bottom: var(--padding-big-size);
}

.success :global(.ant-result-extra) button {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-main);
    line-height: var(--line-height-main);
    color: var(--character-light-primary-inverse);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    border-radius: 2px;
}

@media screen and (max-width: 500px) {
    .success:global(.ant-result) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
