.result {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--character-light-primary-inverse);
}
.error {
    width: 77%;
}
.error :global(.ant-result-title) {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 130%;
    color: var(--character-light-title-85);
}
.error :global(.ant-result-subtitle) {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}

.error:global(.ant-result) {
    padding-top: 64px;
    padding-bottom: 64px;
}
.error :global(.ant-result-extra) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error :global(.ant-result-extra) button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 130%;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    border-radius: 2px;
}

@media screen and (max-width: var(--TABLET_TO_MOBILE_POINT4)) {
    .error {
        width: 92%;
    }
    .error:global(.ant-result) {
        padding: 32px 0;
    }
}
