.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-top: 204px;
    margin-bottom: 60px;

    font-family: var(--font-family);
    font-size: var(--font-size-tabs-trainings-main);
    font-weight: var(--font-weight-medium);
    line-height: var(--main-line-height);
    text-align: center;
}

.action > button {
    line-height: var(--main-line-height);
    font-size: var(--button-font-size);
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
}
