.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-medium);
}

.title {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-medium);
}

.label {
    display: flex;
    padding: var(--label--padding);
    min-height: 24px;
    align-items: center;
    justify-content: center;
    gap: var(--gap-extra-small);
    min-width: 56px;
    font-family: var(--font-family);
    font-size: var(--font-size-main);
    color: var(--character-light-title-85);
    line-height: 130%;
    font-weight: var(--font-weight-medium);
    background-color: var(--neutral-gray-4);
}

.label.pro {
    color: var(--primary-light-7);
    background-color: var(--primary-light-1);
}
