.item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: var(--gap-medium);
}

.badge,
.day,
.data {
    display: inline-block;
}

.badge {
    width: 16px;
}

.day {
    font-family: var(--main-font-family);
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-normal);
    line-height: var(--main-line-height);
    color: var(--character-light-secondary-45);
    width: 50%;
    text-align: left;
}

.data {
    display: inline-block;
    font-family: var(--main-font-family);
    font-size: var(--font-size-main);
    font-weight: var(--font-weight-message);
    line-height: var(--main-line-height);
    color: var(--character-light-title-85);
    text-align: left;
}
